<body class="landing">


    <div class="d-flex flex-column shadow-lg p-3 mb-5 bg-white rounded">
        <div class="p-2 info">
            <h1>Favor Trader</h1>
        </div>
        <div class="p-2 info">
            <h4 class= "tagline"> A neighborhood platform bringing the community together and helping one another complete tasks by
            exchanging favors!  </h4>
            
        </div>

        <div class="row justify-content-center m-3">



            <div class="row align-items-center ml-5">
                <div class="col-xs-12 col-sm-8">
                            
                    <p class="landInfo">  We are all overwhelmed with unfinished tasks, errands, simple fixes or need help
                        fixing an issue.
                        Inspired by the barter system, Favor Trader is a platform where individuals in your neighborhood
                        can
                        exchange/swap a task they need done .
                        Each user discloses what they need and what they are offering.
                        Everyone loves to save money and time, and since such transactions occur in the real world, why
                        can't
                        they happen
                        online? </p>
                </div>
                <div class="col-xs-12 col-sm-4"><i class="far fa-handshake fa-big icon-small"></i></div>
            </div>


            <div class="row bullets mx-10">
                <div class="col-xs-12 col-sm-6">


                    <a class="nav-link active" data-bs-toggle="tab" href="#seek"> <h4>What I Need</a> </h4>



                    <div id="myTabContent" class="tab-content my-4">
                        <div class="tab-pane fade active show bulletInfo" id="seek">
                            <ul>
                                <li>Seek someone to dog-sit while on vacation.</li>
                                <li>Seek someone to help mount a TV to the living room wall.</li>
                                <li>Seek someone to pick up your mail.</li>
                                <li>Seek someone to water your plants.</li>
                                <li>Seek someone to move heavy items to the garage.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">


                    <a class="nav-link active" data-bs-toggle="tab" href="#seek"> <h4> What I Offer</a> </h4>



                    <div id="myTabContent" class="tab-content my-4">
                        <div class="tab-pane fade active show bulletInfo" id="seek">
                            <ul>
                                <li>Offer to pick up medicine for a homebound senior.</li>
                                <li>Offer to walk someone's dog.</li>
                                <li>Offer to paint a neighbor's garage.</li>
                                <li>Offer to watch someone's cat.</li>
                                <li>Offer to housesit while a neighbor is on vacation.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>




    </div>
</body>