<body class="landing">
    <div class="d-flex flex-column shadow-lg p-3 mb-5 bg-white rounded">

        <h2>What is Favor Trader?</h2>
        <br>
        <p>People are overwhelmed with unfinished tasks within the household, and seeking a trustworthy vendor to fulfill such a task takes time and money.</p>
        <p>Inspired by the barter system, Favor Trader is a platform where talented individuals within a user's zip code can exchange/swap favors for free.</p>
        <p>Each user discloses what they need and what they are offering. The search criteria match based on zip code.</p>
        <p>Everyone loves to save money and time, and since such transactions occur in the real world, why can't they happen online?</p>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#seek">What I Need</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#offer">What I Offer</a>
                    </li>

                </ul>
                <div id="myTabContent" class="tab-content my-4">
                    <div class="tab-pane fade active show" id="seek">
                        <ul>
                            <li>Seek someone to dog-sit while on vacation.</li>
                            <li>Seek someone to help mount a TV to the living room wall.</li>
                            <li>Seek someone to pick up your mail.</li>
                            <li>Seek someone to water your plants.</li>
                            <li>Seek someone to move heavy items to the garage.</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="offer">
                        <ul>
                            <li>Offer to pick up medicine for a homebound senior.</li>
                            <li>Offer to walk someone's dog.</li>
                            <li>Offer to paint a neighbor's garage.</li>
                            <li>Offer to watch someone's cat.</li>
                            <li>Offer to housesit while a neighbor is on vacation.</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="row justify-content-center align-items-center">
                    <i class="far fa-handshake fa-big"></i>
                </div>
            </div>
        </div>

    </div>






    <div class="d-flex flex-column shadow-lg p-5 mb-5 bg-white rounded">
        <div class="p-2 info">
            <h1>Favor Trader</h1>
        </div>
        <div class="p-2 info">
            <h4> Help your neighbor and trade a favor!</h4>
        </div>

        <div class="row justify-content-center">



            <div class="row align-items-center ml-5">
                <div class="pl-5 col-8 ">People are overwhelmed with unfinished tasks within the household, and seeking a trustworthy vendor to fulfill
                    such a task takes time and money.
                    Inspired by the barter system, Favor Trader is a platform where talented individuals within a user's zip code can
                    exchange/swap favors for free.
                    Each user discloses what they need and what they are offering. The search criteria match based on zip code.
                    Everyone loves to save money and time, and since such transactions occur in the real world, why can't they happen
                    online?
                </div>
                <div class="col-4"><i class="far fa-handshake fa-big icon-small"></i></div>
            </div>


            <div class="row mx-10">
                <div class="col-sm-6 ml-3">


                    <a class="nav-link active" data-bs-toggle="tab" href="#seek">What I Need</a>



                    <div id="myTabContent" class="tab-content my-4">
                        <div class="tab-pane fade active show" id="seek">
                            <ul>
                                <li>Seek someone to dog-sit while on vacation.</li>
                                <li>Seek someone to help mount a TV to the living room wall.</li>
                                <li>Seek someone to pick up your mail.</li>
                                <li>Seek someone to water your plants.</li>
                                <li>Seek someone to move heavy items to the garage.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">


                    <a class="nav-link active" data-bs-toggle="tab" href="#seek">What I Offer</a>



                    <div id="myTabContent" class="tab-content my-4">
                        <div class="tab-pane fade active show" id="seek">
                            <ul>
                                <li>Offer to pick up medicine for a homebound senior.</li>
                                <li>Offer to walk someone's dog.</li>
                                <li>Offer to paint a neighbor's garage.</li>
                                <li>Offer to watch someone's cat.</li>
                                <li>Offer to housesit while a neighbor is on vacation.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
</body>