<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/materia/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1175344f8e.js" crossorigin="anonymous"></script>
    <style>
        .fa-big{
            font-size: 300px;
        }
        body {
            font-family: 'Secular One', sans-serif;
            font-size: large;
            background: linear-gradient(90deg, grey, transparent);
        }
        main {
            margin-top: 5em;
        }
        .need {
            margin-right: 10px;
        }
    </style>
    <title>Favor Trader</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <span class="navbar-brand">Favor Trader</span>
            <a class="nav-link text-white" href="#">Login</a>
          </div>
          
        </div>
    </nav>
    <main class="container">
        <h2 class="my-4 btn btn-lg btn-dark need">Why Favor Trader?</h2>
        <h5 class="my-4">Any household has endless random tasks such as mounting a flatscreen, picking up the mail, or walking the dog.</h5>
        <h5 class="my-4">Instead of hiring a vendor, why not save time and money by using someone with the necessary skills for free through Favor Trader's favor exchange?</h5>
        <h2 class="my-4 my-4 btn btn-lg btn-dark need">What is Favor Trader?</h2>
        <h5 class="mb-5 mt-4">Favor Trader is a locals-only platform where users in the same zip code exchange their skills for skills they need.</h5>
            <div class="row mt-5">
            <div class="col-xs-12 col-sm-6">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="btn btn-lg btn-success need" data-bs-toggle="tab" href="#seek">What I Need</a>
                    </li>
                    <li class="nav-item">
                      <a class="btn btn-lg btn-danger ml-4" data-bs-toggle="tab" href="#offer">What I Offer</a>
                    </li>
                  
                </ul>
                <div id="myTabContent" class="tab-content my-4">
                    <div class="tab-pane fade active show" id="seek">
                        <ul>
                            <br>
                            <li>Walk the dog</li>
                            <br>
                            <li>Mount the TV</li>
                            <br>
                            <li>Pick up the mail</li>
                            <br>
                            <li>Water the plants</li>
                            <br>
                            <li>Move heavy boxes</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="offer">
                        <ul>
                            <br>
                            <li>Paint exterior walls</li>
                            <br>
                            <li>Piano Lessons</li>
                            <br>
                            <li>Dog sitting</li>
                            <br>
                            <li>Tutoring</li>
                            <br>
                            <li>Housesitting</li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="row justify-content-center align-items-center">
                    <i class="far fa-handshake fa-big"></i>
                </div>
            </div>
        </div>
        
    </main>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>