<div class="container p-3">
    <div class="row justify-content-center">


        <div id="login-form" class="col-md-8">
            <form class="login-form p-3 mr-2">
                <h2 class="pb-3">Login</h2>

                <div class="row">
                    <div class="col">
                        <input class="form-control form-input" type="text" id="email-login" placeholder="Email">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input class="form-control form-input" type="password" id="password-login" placeholder="Password">
                    </div>
                </div>

                <div class="row m-4">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <div class="row">
                    <button id="signup-btn" class="nav-link">Don't have an account? Sign up.</button>
                </div>
            </form>
        </div>


        <div style="display:none" id="signup-form" class="col-md-8">
            <form class="signup-form p-3">
                <h2 class="pb-3">Sign Up</h2>

                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="firstName-signup" placeholder="First name">
                    </div>

                    <div class="col">
                        <input type="text" class="form-control" id="lastName-signup" placeholder="Last name">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="email-signup" placeholder="Email">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="password-signup" placeholder="password">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="address-signup" placeholder="Address">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="city-signup" placeholder="City">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="state-signup" placeholder="State">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="zip-signup" placeholder="Zip">
                    </div>
                </div>

                {{!-- Check Boxes --}}
                <h4 class="p-3">Skills</h2>
                <div class="form-check form-check-inline" id="skills">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Home Improvement" name="skillOption">
                    <label class="form-check-label" for="inlineCheckbox1">Home Improvement</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Health & Wellness" name="skillOption">
                    <label class="form-check-label" for="inlineCheckbox2">Health & Wellness</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Home Organization" name="skillOption">
                    <label class="form-check-label" for="inlineCheckbox3">Home Organization</label>
                </div>

                <div class="row m-4">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
                <div class="row">
                    <button id="login-btn" class="nav-link">Already have an account? Login.</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="./js/login.js"></script>