<form class="form login-form">
    <label for="username-login">Email</label>
    <input type="text" id="username-login" />

    <label for="password-login">Password</label>
    <input type="password" id="password-login" />

    <button type="submit">Login</button>
</form>

<form class="form signup-form">
    <label for="username-signup">Email</label>
    <input type="text" id="username-signup" />

    <label for="password-signup">Password</label>
    <input type="password" id="password-signup" />

    <label for="firstName-signup">First Name</label>
    <input type="text" id="firstName-signup" />

    <label for="lastName-signup">Last Name</label>
    <input type="text" id="lastName-signup" />

    <label for="address-signup">Street Address</label>
    <input type="text" id="address-signup" />

    <label for="city-signup">City</label>
    <input type="text" id="city-signup" />

    <label for="state-signup">State</label>
    <input type="text" id="state-signup" maxlength="2" />

    <label for="zip-signup">Zip Code</label>
    <input type="text" id="zip-signup" maxlength="5" />

    <button type="submit">Sign Up</button>
</form>

<script src="./js/login.js"></script>