<div class="container p-3">
    <div class="row">


        <div class="col-md-6">
            <form class="login-form p-3 mr-2">
                <h2 class="pb-3">Login</h2>

                <div class="row">
                    <div class="col">
                        <input class="form-control form-input" type="text" id="email-login" placeholder="Email">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input class="form-control form-input" type="password" id="password-login" placeholder="Password">
                    </div>
                </div>

                <div class="row m-4">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>

            </form>
        </div>


        <div class="col-md-6">
            <form class="signup-form p-3">
                <h2 class="pb-3">Sign Up</h2>

                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="firstName-signup" placeholder="First name">
                    </div>

                    <div class="col">
                        <input type="text" class="form-control" id="lastName-signup" placeholder="Last name">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="username-signup" placeholder="Email">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="password-signup" placeholder="password">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="address-signup" placeholder="Address">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="city-signup" placeholder="City">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="state-signup" placeholder="State">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="zip-signup" placeholder="Zip">
                    </div>
                </div>

                <div class="row m-4">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>


            </form>
        </div>
    </div>
</div>

<script src="./js/login.js"></script>