.navbar-collapse {
  justify-content: flex-end;
}

.badge{
  font-size: 1rem;
}

.skill-badges {
  padding: 5px 10px;
}

.skill-badges .badge {
    font-size: .9rem;
    font-weight: lighter;
    margin: 1px;
}