h1, h2, h3, h4, h5{
  cursor: default;
}

.navbar-collapse {
  justify-content: flex-end;
}

.badge{
  font-size: 1rem;
}

.skill-badges {
  padding: 5px 10px;
}

.skill-badges .badge {
    font-size: .9rem;
    font-weight: lighter;
    margin: 1px;
}

.text-right {
  text-align: right;
}

button.nav-link{
  background-color: transparent;
  outline: none;
  border:  none;
}

.bold{
  font-weight: bold;
}

.fa-big{
    font-size: 300px;
}